@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

.footer {
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
	padding: 50px;
	display: grid;
	grid-template-columns: 1fr;
	justify-items: center;
	align-items: flex-start;
	color: white;
	background-color: rgb(61, 61, 61);
	margin-top: 100px;
}
